.pagination {
  display: flex;
  align-items: center;
  column-gap: 10px;

  &__btn {
    @include sizes(24px, 24px);

    @include hover {
      svg {
        stroke: $blue400;
      }
    }

    svg {
      fill: none;
      stroke: $grey300;
      @include transition(stroke);
    }
  }

  &__info {
    @include regular16;
    color: $grey300;
  }
}
