.search {
  position: relative;
  width: 544px;

  &__input {
    background-color: $blue50;
    border-radius: 10px;
    padding: 10px 35px;
    @include flexCenterBetween;
    cursor: pointer;
    border: 1px solid transparent;
    @include transition(border-color);
    color: $blue400;
    @include regular14;
    width: 100%;

    &::placeholder {
      color: $grey200;
    }

    &:focus {
      border-color: $blue400;
    }

    &:focus ~ .search__btn svg {
      stroke: $blue400;
    }
  }

  &__btn {
    @include sizes(16px, 16px);
    position: absolute;
    top: calc(50% - 8px);
    left: 15px;

    @include hover {
      svg {
        stroke: $blue400;
      }
    }

    svg {
      stroke-width: 1.5;
      stroke: $grey200;
      fill: none;
      @include transition(stroke);
    }
  }
}
