.cab-results {
  &__content {
    padding-bottom: 16px;
  }

  &__result {
    position: relative;
    svg {
      position: absolute;
      @include sizes(20px, 20px);
      fill: none;

      &:first-child {
        stroke: $green200;
        @include hidden;
      }

      &:last-child {
        stroke: $red200;
      }
    }
  }

  &__more {
    position: relative;
  }

  &__more-btn {
    @include sizes(20px, 20px);
    svg {
      stroke: none;
      fill: $blue400;
    }
  }

  &__more-content {
    position: absolute;
    width: 157px;
    right: 0;
    padding: 15px 10px;
    border-radius: 8px;
    border: 1px solid $blue400;
    @include flexColumn;
    row-gap: 8px;
    @include hidden;
    background-color: #fff;
    z-index: -2;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease,
      z-index 0.2s ease;

    &.--active {
      @include visible;
      z-index: 2;
    }
  }

  &__more-icon {
    @include sizes(20px, 20px);
    position: relative;

    svg {
      position: absolute;
      transition:
        opacity 0.2s ease,
        visibility 0.2s ease;

      &:first-child {
        fill: none;
        stroke: $blue400;
        @include visible;
      }

      &:last-child {
        fill: $blue400;
        stroke: none;
        @include hidden;
      }
    }
  }

  &__more-link {
    display: flex;
    align-items: center;
    column-gap: 5px;

    display: flex;
    align-items: center;
    column-gap: 5px;

    span {
      border-bottom: 1px solid transparent;
      @include regular14;
      @include transition(border-color);
    }

    @include hover {
      svg {
        &:first-child {
          @include hidden;
        }

        &:last-child {
          @include visible;
        }
      }

      span {
        color: $blue400;
        border-color: $blue400;
      }
    }
  }

  &__block {
    border-bottom: 1px solid $blue200;
    padding: 24px 25px 16px 25px;
    display: grid;
    grid-template-columns: 11.2% 31.2% 17.5% 13.5% 23% 2.4% 1%;

    & > div:not(:last-child) {
      @include regular14;
      @include croppingText(1);
    }
  }
}
