.cab-role {
  &__content {
    padding-bottom: 16px;
  }

  &__block {
    padding: 23px 25px;
    border-bottom: 1px solid $blue200;
    display: grid;
    grid-template-columns: 10% 42% 48%;
    column-gap: 20px;

    div {
      @include regular14;
      @include croppingText(1);
    }
  }
}
