.cab {
  width: 100%;

  &--cab {
    .cab__header {
      grid-template-columns: 43% 17% 15% 21%;
    }
  }

  &--role {
    .cab__header {
      grid-template-columns: 10% 42% 48%;
    }
  }

  &--results {
    .cab__header {
      grid-template-columns: 7% 25% 12% 13% 38%;
    }
  }

  &__titles {
    @include flexCenterBetween;
    margin-bottom: 20px;
  }

  &__block {
    background-color: $white;
    border-radius: 12px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &:first-child {
      @include flexCenterBetween;
      padding: 17px 30px;
    }

    &.--no-docs {
      .cab__content-none {
        display: block;
      }

      .cab__items,
      .cab-results__blocks {
        display: none;
      }

      .cab__content {
        @include flexCenter;
      }

      .cab__desc-infos {
        display: none;
      }
    }
  }

  &__header {
    background-color: $white;
    border-bottom: 1px solid $blue400;
    padding: 18px 25px;
    display: grid;
    column-gap: 20px;
    border-radius: 12px 12px 0 0;
  }

  &__header-item {
    display: flex;
    align-self: center;
    column-gap: 6px;
  }

  &__header-name {
    @include medium16;
  }

  &__header-btn {
    @include sizes(20px, 20px);

    svg {
      stroke: none;
      fill: $blue400;
      @include transition(fill);
    }

    @include hover {
      svg {
        fill: $blue300;
      }
    }
  }

  &__titles-left {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__content {
    min-height: 676px;
    height: 100%;
    border-bottom: 1px solid $blue400;
  }

  &__content-none {
    background-color: $blue200;
    margin: auto;
    padding: 46px 112px;
    border-radius: 10px;
    color: $blue300;
    @include regular26;
    @include flexCenter;
    @include sizes(fit-content, 100%);
    display: none;
  }

  &__desc {
    background-color: $white;
    padding: 16px 25px;
    border-radius: 0 0 12px 12px;
  }

  &__desc-content {
    @include flexCenterBetween;
    column-gap: 20px;
  }

  &__desc-infos {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin: 0 0 0 auto;
  }

  &__desc-counts {
    @include regular16;
    color: $grey300;
  }

  &__desc-notify {
    display: flex;
    column-gap: 10px;
    align-items: center;

    svg {
      @include sizes(24px, 24px);
      fill: $red200;
    }

    p {
      @include regular16;
    }
  }

  &__item {
    border-bottom: 1px solid #ebf1ff;
    padding: 15px 25px 16px 25px;
    align-items: center;
    display: grid;
    grid-template-columns: 43% 17% 15% 8% 12%;
    column-gap: 20px;

    div:not(.cab__item-status) {
      @include regular14;
    }

    div:first-child {
      @include croppingText(1);
    }

    &.--queue {
      .cab__item-status {
        background-color: #fef3c780;
        color: #e07706;
      }
    }

    &.--verified {
      .cab__item-status {
        color: #059691;
        background-color: #d1fae580;
      }
    }

    &.--notCredited {
      .cab__item-status {
        color: #e11d48;
        background-color: #ffe4e680;
      }
    }

    &.--defense {
      .cab__item-status {
        color: #8006e0;
        background-color: #e9c7fe80;
      }
    }

    &.--passed {
      .cab__item-status {
        color: #069fe0;
        background-color: #c7fbfe80;
      }
    }

    div {
      &:nth-child(4) {
        text-align: center;
      }

      &:last-child {
        margin: 0 0 0 auto;
      }
    }
  }

  &__item-status {
    border-radius: 8px;
    @include sizes(182px, 36px);
    flex-shrink: 0;
    @include flexCenter;
    @include regular14;
  }
}

@media screen and (max-width: $laptop) {
  .cab {
    &__titles {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: $mob) {
  .cab {
    &__titles {
      margin-bottom: 10px;
    }

    &__block {
      border-radius: 8px;
    }
  }
}
