.cab-pers {
  &__content {
    @include flexColumn;
    row-gap: 25px;
    padding: 55px 80px 55px 55px;
  }

  &__icon {
    @include sizes(200px, 200px);
    background-color: $blue50;
    border-radius: 50%;
    @include flexCenter;

    svg {
      @include sizes(120px, 120px);
      fill: none;
      stroke: $blue400;
    }
  }

  &__main {
    display: flex;
    column-gap: 50px;
    align-items: center;
  }

  &__name p {
    @include bold36;
  }

  &__info {
    margin-left: 250px;
    background-color: $blue50;
    border-radius: 8px;
  }

  &__info-block {
    @include mb(20);
    padding: 25px;
    display: flex;
    align-items: center;
    column-gap: 30px;

    b,
    a,
    p {
      @include regular16;
    }

    a {
      @include transition(color);
      @include hover {
        color: $blue300;
      }
    }
  }
}
