.cab-results {
  &__content {
    padding-bottom: 16px;
  }

  &__result {
    position: relative;
    svg {
      position: absolute;
      @include sizes(20px, 20px);
      fill: none;
      @include hidden;

      &:first-child {
        stroke: $green200;
      }

      &:last-child {
        stroke: $red200;
      }
    }
  }

  &__block {
    border-bottom: 1px solid $blue200;
    padding: 24px 25px 16px 25px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 7% 25% 12% 13% 33% 2% 1%;

    div {
      &:nth-child(4) {
        margin-left: 25%;
      }
    }

    &.--success .cab-results__result {
      svg {
        &:first-child {
          @include visible;
        }
      }
    }

    &.--no-success .cab-results__result {
      svg {
        &:last-child {
          @include visible;
        }
      }
    }

    & > div:not(:last-child) {
      @include regular14;
      @include croppingText(1);
    }
  }
}

@media screen and (max-width: $tablet) {
  .cab-results {
    &__more {
      display: none;
    }
  }
}
