.cab-results {
  &__content {
    padding-bottom: 16px;
  }

  &__result {
    position: relative;
    svg {
      position: absolute;
      @include sizes(20px, 20px);
      fill: none;

      &:first-child {
        stroke: $green200;
        @include hidden;
      }

      &:last-child {
        stroke: $red200;
      }
    }
  }

  &__block {
    border-bottom: 1px solid $blue200;
    padding: 24px 25px 16px 25px;
    display: grid;
    grid-template-columns: 11.2% 31.2% 17.5% 13.5% 23% 2.4% 1%;

    & > div:not(:last-child) {
      @include regular14;
      @include croppingText(1);
    }
  }
}
