.file {
  @include flexColumn;
  justify-content: space-between;
  min-height: 100vh;

  &-body {
    background-color: #fff;
  }

  &__bottom {
    margin-top: auto;
  }

  &__logo {
    margin-bottom: 12.7mm;
  }

  &__title-block {
    margin-bottom: 10.6mm;
  }

  &__title-h1 {
    font-size: 5.08mm;
    line-height: 6.6mm;
    color: #03102c;
    font-weight: 700;
  }

  &__title-text {
    color: #646464;
    font-size: 3.048mm;
    line-height: 3.9624mm;
    font-weight: 500;
  }

  &__info {
    margin-bottom: 17mm;
  }

  &__qr-blocks {
    @include flexCenterBetween;
    column-gap: 12mm;
  }

  &__qr-block {
    @include flexCenter;
    column-gap: 2.54mm;
  }

  &__qr-block-img {
    @include sizes(31mm, 31mm);
    flex-shrink: 0;

    img {
      @include fullSize;
      object-fit: contain;
    }
  }

  &__qr-block-txt {
    color: #646464;
    font-weight: 500;
    font-size: 2.7mm;
    line-height: 3.5mm;
    text-wrap: balance;
  }
}

.info {
  &-block {
    display: inline-flex;

    &__title {
      font-weight: 600;
      flex-shrink: 0;
      color: #03102c;
      font-size: 2.7mm;
      line-height: 3.5mm;
      margin-bottom: 0.5mm;
      width: 32mm;
      padding-right: 3.3mm;
    }

    &__value {
      color: #646464;
      font-weight: 500;
      font-size: 2.7mm;
      line-height: 3.5mm;
    }
  }

  &__title {
    color: #03102c;
    font-weight: 600;
    font-size: 3.048mm;
    line-height: 3.96mm;
    margin-bottom: 2.54mm;
  }

  &__items {
    @include flexColumn;
    row-gap: 0.85mm;
  }

  &__tutor {
    @include flexColumn;
    row-gap: 17mm;
    margin-top: 8.5mm;
  }

  &__signatures {
    @include flexCenterStart;
    column-gap: 12mm;
  }
}

.border {
  border-bottom: 0.8mm solid #ebf1ff;
  width: 100%;
  border-radius: 1mm;
  margin: 4.2mm 0;

  &--first {
    margin-top: 0;
  }
}

.underline {
  border-bottom: 0.0001mm solid #646464;
  display: inline-block;
  width: fit-content;
  hyphens: auto;
  vertical-align: bottom;
  width: 100%;
}
