<div class="graph-modal">
  <div class="graph-modal__container modal-doc" role="dialog" aria-modal="true" data-graph-target="modal-doc">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">
      <svg>
        <use xlink:href="assets/img/sprite.svg#modal-close"></use>
      </svg>
    </button>
    <div class="modal-doc__container">
      <h2 class="modal-doc__title">Отправить документ на защиту</h2>
      <p class="modal-doc__subtitle">Вы уверены, что готовы вынести окончательное решение о данном документе?</p>
      <div class="modal-doc__items">
        <div class="modal-doc__item">
          <div>ФИО</div>
          <div class="js-modal-doc-name">Ташлыкова-Бушкевич Полина Александровна</div>
        </div>
        <div class="modal-doc__item">
          <div>Оригинальность</div>
          <div class="js-modal-doc-orig">100%</div>
        </div>
        <div class="modal-doc__item">
          <div>Название</div>
          <div class="js-modal-doc-file">
            Отличительным аспектом статьи является её готовность. Если подготавливаемый материал так и не был
            опубликован (не вышел в тираж, не получил распространения), то такой труд относить к статье некорректно.
            Скорее всего данную работу можно назвать черновиком или заготовкой. Поэтому целью любой статьи является
            распространение содержащейся в ней информации
          </div>
        </div>
      </div>
      <div class="modal-doc__btns">
        <button type="button" class="modal-doc__btn btn-def js-modal-close">
          <svg>
            <use xlink:href="assets/img/sprite.svg#docs-neg"></use>
          </svg>
          <span>Отправить на доработку</span>
        </button>
        <button type="button" class="modal-doc__btn btn-def js-modal-close">
          <svg>
            <use xlink:href="assets/img/sprite.svg#docs-plus"></use>
          </svg>
          <span>Зачтен</span>
        </button>
      </div>
    </div>
  </div>
</div>
