$white: #ffffff;
$blueGradient: linear-gradient(90.31deg, #7794d3 -26.48%, #5c72a2 58.31%, #7794d3 126.04%);
$blue50: #f2f5fd;
$blue100: #e4efff;
$blue150: #6b7d9b;
$blue200: #5f75a7;
$gray100: #696f79;
$red100: #e62b1f;
