$white: #ffffff;
$blueGradient: linear-gradient(
  90.31deg,
  #7794d3 -26.48%,
  #5c72a2 58.31%,
  #7794d3 126.04%
);
$blue50: #fafbff;
$blue200: #ebf1ff;
$blue300: #5f75a7;
$blue400: #3b547f;
$grey200: #b0b0b0;
$grey300: #696f79;
$red200: #bf251b;
$green200: #46bf1b;
