.btn {
  border-radius: 8px;
  @include transition(background-color);
  @include flexCenter;
  column-gap: 5px;

  img {
    @include sizes(24px, 24px);
  }
}

.btn-def {
  color: $white;
  background-color: $blue400;
  @include sizes(260px, 40px);
  padding: 8px 0;
  @include regular16;

  svg {
    @include sizes(25px, 25px);
    fill: #fff;
  }

  @include hover {
    background-color: $blue300;
  }
}
