.btn {
  border-radius: 8px;
  @include flexCenter;
  column-gap: 5px;
  padding: 8px 0;
  flex-shrink: 0;
  @include regular16;

  img {
    @include sizes(24px, 24px);
  }
}

.btn-def {
  color: $white;
  background-color: $blue400;
  transition: all 0.2s ease;
  @include sizes(260px, 40px);

  svg {
    @include sizes(25px, 25px);
    fill: #fff;
  }

  @include hover {
    background-color: $blue300;
  }
}

.btn-sec {
  color: $blue400;
  background-color: transparent;
  @include sizes(280px, 40px);
  border: 1px solid $blue400;
  transition: all 0.2s ease;

  @include hover {
    background-color: $blue300;
    border-color: $blue300;
    color: $white;
  }
}

@media screen and (max-width: $mob) {
  .btn {
    border-radius: 4px;
  }

  .btn-def,
  .btn-sec {
    height: 32px;

    svg {
      @include sizes(18px, 18px);
    }
  }
}
