.drag-area {
  position: relative;
  @include sizes(100%, 204px);

  &__form {
    @include visible;
    @include fullSize;
    position: absolute;
    border-radius: 8px;
    border: 1.5px dashed $grey300;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    transition:
      border-color 0.2s ease,
      background 0.2s ease,
      opacity 0.2s ease,
      visibility 0.2s ease;

    &.--active {
      border-color: $blue400;
      background: $blue50;
    }

    &.--error {
      border-color: $red200;

      .drag-area__sm {
        color: $red200;
      }
    }
  }

  &.--files {
    .drag-area__form {
      @include hidden;
    }
    .drag-area__files {
      @include visible;
    }
  }

  &__files {
    @include hidden;
    position: absolute;
    @include fullSize;
    background-color: $white;
    border-radius: 8px;
  }

  &__file {
    padding: 12px 20px;
    @include flexCenterBetween;
    border-bottom: 1px solid $blue200;
  }

  &__filename {
    color: $blue400;
    @include regular14;
  }

  &__fileclose {
    @include sizes(24px, 24px);

    svg {
      stroke: $grey300;
      fill: none;
      transition: stroke 0.2s ease;
    }

    @include hover {
      svg {
        stroke: $blue400;
      }
    }
  }

  &__btn {
    margin: 0 auto 5px;
  }

  &__up {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__sm,
  &__up {
    @include regular16;
    color: $grey300;
    text-align: center;
  }
}
